@*@{
        Layout = null;
    }*@
@*HERDANDO A PAGINA DE LAYOUT MENU QUE FOI CRIADO O SharedLayout*@
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <!-- folha de estilo CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <!-- arquivos javascript -->    
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h1> Bem vindo ao Projeto! </h1>

</body>
</html>
